<mat-grid-list cols="2" rowHeight="100" class="container">
    <mat-grid-tile rowspan="1">
        <h1>Chat Golang</h1>
    </mat-grid-tile>
    <mat-grid-tile rowspan="6">
    </mat-grid-tile>
    <mat-grid-tile rowspan="5">
        <div class="chat-content">
            <div class="content">
                <mat-card class="card-message" *ngFor="let message of chatGeneral">
                    <mat-card-title>
                        {{ message.sender_user.username }}
                    </mat-card-title>
                    <mat-card-content>
                        {{ message.message }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="user">
        <textarea matInput placeholder="Mensaje" [(ngModel)]="message"></textarea>
        <button mat-raised-button color="primary" class="btnAction" (click)="sendMessageGeneral()">Enviar</button>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="!user; else haveSession">
        <ng-container [ngSwitch]="flag">
            <ng-container *ngSwitchCase="0">
                <button mat-raised-button color="primary" (click)="showInvite()" class="btnAction">Entrar como invitado</button>
                <button mat-raised-button color="primary" (click)="showLogin()" class="btnAction">Iniciar sesión</button>
                <button mat-raised-button color="primary" class="btnAction">Registrarse</button>
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <mat-label>Nombre de usuario: </mat-label>
                <input type="text" matInput [(ngModel)]="username" required>
                <button mat-raised-button color="primary" (click)="loginGuest()" class="btnAction">Aceptar</button>
                <button mat-raised-button color="primary" (click)="showButtons()" class="btnAction">Cancelar</button>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <mat-label>Nombre de usuario: </mat-label>
                <input type="text" matInput>
                <mat-label>Contraseña: </mat-label>
                <input type="password" matInput required>
                <button mat-raised-button color="primary" class="btnAction">Iniciar sesión</button>
                <button mat-raised-button color="primary" (click)="showButtons()" class="btnAction">Cancelar</button>
            </ng-container>
        </ng-container>
    </mat-grid-tile>
    <ng-template #haveSession>
        <mat-grid-tile>
            <button mat-raised-button color="primary" (click)="logout()">Cerrar sesión</button>
        </mat-grid-tile>
    </ng-template>
</mat-grid-list>